<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="fixed">
  <form>
    <input type="text" [value]="query" [formControl]="queryControl" />
  </form>
  <button type="button" (click)="sort()">Sort</button>
</div>
<div
  class="search-results grid"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="20"
  (scrolled)="onScroll()"
>
  <li *ngFor="let post of data">
    <ng-container *ngIf="post?.embed?.type === 'image'">
      <img class="responsive" src="{{ post?.embed?.url }}" alt="{{post.vote_count}}"/>
     
    </ng-container>
  </li>
</div>
