.card{
    max-width: 900px;
    min-width: 900px;
    margin: 20px;
    background-color: #2C2C2C;
}
p{
    color: #cacecf
}
button{
    color: #cacecf

}
.icon{
    color: #cacecf
}
.pinky{
    color: rgba(242, 70, 208, 1);
}
.blue{
    color: rgba(70, 171, 242, 1)
}
.neutral{
    color: #cacecf
}

.border-red{
    
}
.border-orange{

}
.border-green{

}
.tag{
    color: rgba(70, 171, 242, 1);
    cursor: pointer;
}